*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(125, 223, 253,0.6), rgba(233, 11, 188,0.7),rgba(128, 4, 128,0.3));
}
.container{
    background: linear-gradient(rgba(255, 255, 255, 0.915),rgba(76, 198, 235,0.6));
    padding: 2rem 7rem;
    border-radius: 14px;
    box-shadow: 0 5px 10px rgba(235, 225, 225, 0.937);
}
.result-images{
    display: flex;
    column-gap: 7rem;
}
.container.start .user-result{
    transform-origin: left;
    animation: userShake 0.7s ease infinite;
}
@keyframes userShake {
    50%{
        transform: translateY(10px);
    }
}
.container.start .cpu-result{
    transform-origin: right;
    animation: cpuShake 0.7s ease infinite;
}
@keyframes cpuShake {
    50%{
        transform: translateY(-10px);
    }
}
.result-images img{
    width: 100px;
}
.user-result img{
    transform: rotate(78deg);
}
.cpu-result img{
    transform: rotate(-78deg) rotateY(180deg);
}
.result{
    text-align: center;
    font-size: 2rem;
    color: purple;
    font-weight: bold;
    margin-top: 1.5rem;
}
.option-image img{
    width: 50px;
}
.option-images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5rem;
}
.container.start .option-images{
    pointer-events: none;
}
.option-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0.5;
    transition:opacity 0.3s ease;
    cursor: pointer;
}
.option-image:hover {
    opacity: 1;
}
.option-image.active{
    opacity: 1;
}
.option-image img{
    pointer-events: none;
}
.option-image p {
    color: rgb(217, 41, 179);
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 1rem;
    pointer-events: none;
}