*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.search{
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.search img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}
.search .content{
    color: white;
    position: relative;
    text-align: center;
    z-index: 2;
}
.search h1{
    font-size: 2.65rem;
    font-weight: 600;
}
.search p{
    font-size: 1.5rem;
    margin-top: 8px;
}
.search .search-box{
    height: 55px;
    margin: 45px 0;
    position: relative;
}
.search-box i{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: blue;
    font-size: 1.4rem;
}
input,button,i{
    outline: none;
    border: none;
    border-radius: 5px;
}
.search-box input{
    width: 100%;
    height: 100%;
    font-size: 1.1rem;
    padding-left: 55px;
}
.gallery{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.gallery .images{
    columns: 5 340px;
    gap: 15px;
    margin-top: 40px;
    max-width: 95%;
}
.images .card{
    list-style: none;
    margin-bottom: 14px;
    border-radius: 4px;
    position: relative;
}
.images .card .details{
    position: absolute;
    background: linear-gradient(45deg,black.black,black);
}
.images img{
    width: 100%;
}
.gallery .load-more{
    margin: 50px 0;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    padding: 12px 27px;
    background: blue;
    font-weight: bold;
}