*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(135deg,rgba(37, 214, 234, 0.871),rgba(23, 228, 153, 0.893),rgba(31, 186, 253, 0.892));
}
.wrapper{
    width: 430px;
    background: azure;
    border-radius: 10px;
}
.wrapper h1{
    font-size: 25px;
    font-weight: 500;
    padding: 20px 25px;
    border-bottom:  1px solid gainsboro;
}
.wrapper .content{
    margin:25px 25px 25px;
}
.content .typing-input{
    z-index: -999;
    position: absolute;
    opacity: 0;
}
.content .inputs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.inputs input{
    height: 57px;
    width: 56px;
    margin: 4px;
    background: none;
    border-radius: 5px;
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: aquamarine;
    text-transform: uppercase;
}
.inputs input:first-child{
    margin-left: 0px;
}
.content .details{
    margin: 20px 0 25px;
}
.details p{
    font-size: 19px;
    margin-bottom: 10px;
}
.content .reset-btn{
    width: 100%;
    outline: none;
    cursor: pointer;
    border: none;
    color: white;
    padding: 15px 0;
    font-size: 17px;
    border-radius: 5px;
    background: linear-gradient(45deg,rgba(37, 214, 234, 0.871),rgba(23, 228, 153, 0.893),rgba(31, 186, 253, 0.892));
    font-weight: bolder;
}